<ion-view view-title="List des Feeeds">
	<ion-content>
	<ion-refresher pulling-text="Pull to refresh..." on-refresh="loadNowerStories()">
            </ion-refresher>
            <div class="list">
                <a class="item item-thumbnail-left" ng-click="openLink(story.url)" target="_blank" ng-repeat="story in stories track by story.id">
                    <img ng-src="{{story.thumbnail}}" ng-if="story.thumbnail.startsWith('http')">
                    <h2 class="story-title">{{story.title}}</h2>
                    <p>
                        <span am-time-ago="story.created_utc" am-preprocess="unix"></span> - {{story.domain}}
                    </p>
                </a>
            </div>
            <ion-infinite-scroll on-infinite="loadOlderStories()" distance="1%">
            </ion-infinite-scroll>

	</ion-content>
</ion-view>